.academico {
    background-color: #EAF2FD;
    padding: 4em 9em;
}

.academico h2 {
    text-align: center;
    padding-bottom: 1em;
}

.academico article {
    display: flex;
    justify-content: center;
    gap: 2em;
}

.academico_cursos {
    flex: 1;
}

.academico_cursos h4 {
    padding: 0.5em 0;
    font-size: 1em;
}

.academico_cursos p {
    font-size: 0.9em;
}

.academico_container-imagem {
    display: flex;
    justify-content: center;
    max-width: 100%;
    max-height: 10em;

    padding: 3em 3em;

    background-color: #FFFFFF;
}

.academico img {
    width: 90%;
}