.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 2.2em 9em;
}

.cabecalho_nome {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.cabecalho_icone {
    font-size: 1.3em;
}

.cabecalho_links ul {
    display: flex;
    gap: 2em;

    list-style: none;

    font-size: 1em;
}

.cabecalho_links a {
    text-decoration: none;
}

@media screen and (max-width: 480px) {
    .cabecalho {
        flex-direction: column;
        gap: 2em;
        margin: 3em 1em;
    }

    .cabecalho_links ul {
        justify-content: center;
        flex-wrap: wrap;
        gap: 1em;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .cabecalho {
        flex-direction: column;
        gap: 2em;
        margin: 3em 1em;
    }

    .cabecalho_links ul {
        justify-content: center;
        flex-wrap: wrap;
        gap: 1em;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .cabecalho {
        margin: 4em 4em;
    }

    .cabecalho_links ul {
        justify-content: center;
        flex-wrap: wrap;
        gap: 1em;
    }
}