.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 2.2em 9em;
}

.cabecalho_nome {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.cabecalho_links ul {
    display: flex;
    gap: 2em;

    list-style: none;

    font-size: 1em;
}

.cabecalho_links a {
    text-decoration: none;
}