.habilidades {
    margin: 2em 9em;
}

.habilidades_skills, .habilidades_hobbies {
    margin-bottom: 5em;
}

.habilidades h2 {
    font-size: 2em;
    text-align: center;

    margin-bottom: 1em;
}

.habilidades_skills-lista, .habilidades_hobbies-lista {
    display: flex;
    justify-content: space-around;
    gap: 1em;
}

.habilidades_skills-lista li, .habilidades_hobbies-lista li {
    list-style: none;
    
    height: 10em;
    padding: 1em;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    flex: 1;
    background-color: #FFFFFF;
}

.habilidades_skills-lista p, .habilidades_hobbies-lista p {
    font-size: 0.9em;
}

.habilidades_icones {
    font-size: 2.5em;
    color: #2A7AE4;
    margin-bottom: 0.2em;
}

.habilidades_skills-itens:hover {
    font-size: 1.2em;
    transition: 0.4s;
}

@media screen and (max-width: 480px) {
    .habilidades {
        margin: 4em 1em;
    }

    .habilidades_skills-lista, .habilidades_hobbies-lista {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .habilidades_skills-lista li, .habilidades_hobbies-lista li {
        align-items: center;
        justify-content: center;
        text-align: center;
        min-width: 30%;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .habilidades {
        margin: 3em 2em;
    }

    .habilidades_skills-lista, .habilidades_hobbies-lista {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .habilidades_skills-lista li, .habilidades_hobbies-lista li {
        align-items: center;
        justify-content: center;
        text-align: center;
        min-width: 30%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .habilidades {
        margin: 4em 4em;
    }

    .habilidades_skills-lista li, .habilidades_hobbies-lista li {
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}