.habilidades {
    margin: 2em 9em;
}

.habilidades_skills, .habilidades_hobbies {
    margin-bottom: 5em;
}

.habilidades h2 {
    font-size: 2em;
    text-align: center;

    margin-bottom: 1em;
}

.habilidades_skills-lista, .habilidades_hobbies-lista {
    display: flex;
    justify-content: space-around;
    gap: 1em;
}

.habilidades_skills-lista li, .habilidades_hobbies-lista li {
    list-style: none;
    
    height: 10em;
    padding: 1em;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    flex: 1;
    background-color: #FFFFFF;
}

.habilidades_skills-lista p, .habilidades_hobbies-lista p {
    font-size: 0.9em;
}

.habilidades_imagem-cozinhar {
    width: 2.5em;
    margin-bottom: 0.5em;
}

.habilidades_icones {
    font-size: 2.5em;
    color: #2A7AE4;
    margin-bottom: 0.2em;
}