.perfil {
    display: flex;
    align-items: center;

    margin: 3em 9em;
}

.perfil_sobre-mim {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2em;

    width: 70%;
    margin: 4em 1em 4em 0;
}

.perfil_sobre-mim h1 {
    font-size: 2.6em;
    line-height: 1.1em;
}

.perfil_sobre-mim p {
    font-size: 1.3em;
    line-height: 1.3em;
    word-wrap: break-word;

    /* margin: 1em auto; */
}

.perfil_redes-sociais {
    display: flex;
    gap: 2em;
    list-style: none;
}

.perfil_redes-sociais a {
    text-decoration: none;

    display: flex;
    align-items: center;
}

.perfil_redes-sociais a::after {
    content: url(../img/seta.svg);
    
    margin-left: 0.2em;
}

.perfil_redes-sociais a:hover {
    /* border-bottom: 1px solid #464646; */
    text-decoration: underline #464646;
}

.perfil_foto {
    width: 30%;
}

.perfil_foto img:hover {
    scale: 110%;
    transition: 0.4s;
}

.perfil_foto img {
    /* width: 60%; */
    max-width: 100%;
    border-radius: 50%;

    animation-duration: 3s;
    animation-name: foto;
    animation-delay: 0.4s;
    animation-fill-mode: backwards;
}

@keyframes foto {
    from {
        opacity: 0;
        transform: translateX(100px)
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}


@media screen and (max-width: 480px) {
    .perfil {
        flex-direction: column-reverse;
        margin: 4em 1em;
    }

    .perfil_sobre-mim {
        width: 100%;
        margin: 3em auto;
    }

    .perfil_sobre-mim h1 {
        font-size: 2.2em;
        text-align: center;
    }

    .perfil_sobre-mim p {
        font-size: 1.2em;
        text-align: center;
    }
    
    .perfil_redes-sociais {
        gap: 1em;
        justify-content: space-between;
    }

    .perfil_foto {
        width: 60vw;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .perfil {
        flex-direction: column-reverse;
        margin: 3em 2em;
    }

    .perfil_sobre-mim {
        width: 100%;
        margin: 2em auto;
    }

    .perfil_sobre-mim h1 {
        font-size: 2.2em;
        text-align: center;
    }

    .perfil_sobre-mim p {
        font-size: 1.2em;
        text-align: center;
    }
    
    .perfil_redes-sociais {
        gap: 1em;
        justify-content: space-around;
    }

    .perfil_foto {
        width: 30%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .perfil {
        margin: 4em 4em;
    }

    .perfil_sobre-mim h1 {
        font-size: 2.2em;
    }

    .perfil_sobre-mim p {
        font-size: 1.2em;
    }
}