.perfil {
    display: flex;
    align-items: center;

    margin: 3em 4em;
}

.sobre-mim {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1em;
}

.sobre-mim h1 {
    font-size: 2.5em;
}

.redes-sociais {
    display: flex;
    gap: 4em;
    list-style: none;
}

.redes-sociais a {
    text-decoration: none;

    display: flex;
    align-items: center;
}

.redes-sociais a::after {
    content: url(../img/seta.svg);
}

.perfil-foto {
    display: flex;
    justify-content: center;
}

.perfil-foto img {
    width: 80%;
    border-radius: 50%;
}

